<div class="jumbotron" style="margin-top: -15px;">
    <div class="container">
        <h2>Attribute List ... </h2>
        <div>Attributes are the adjectives that describe your project.
             Common attributes include "Secure" and "Fast". 
             Typically, a product manager or tester with high knowledge of the product will have a hand in narrowing down the list of attributes for the system.
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">...</div>
    </div>
</div>



