<div class="jumbotron" style="margin-top: -15px;">
    <div class="container">
        <h2>Capability List ... </h2>
        <div>
            Capabilities are the verbs of your project. They describe the abilities of a component required to satisfy an attribute of a system.
             In an example of a e-commerce website, which would have an attribute "Secure" and a component "Shopping Cart", might have a capability: <br> "Process monetary transactions using HTTPS".
        </div>
    </div>
</div>
<div class="container">
    <div class="row" *ngIf="!dataReady">
        <div class="col-12">
            <div >Loading Capabilities ...</div>
        </div>
    </div>
      <div *ngIf="matrix" class="row">
        <table class="table table-hover table-bordered text-center">
            <thead class="thead-inverse">
                <tr>
                <th></th>
                <th *ngFor="let attr of capabilityData.attributes">{{attr.name}}</th>
                </tr>
            </thead>
            <tbody *ngFor="let comp of matrix">
                <tr>
                <th scope="row">{{comp.component}}</th>
                <td *ngFor="let caps of comp.attributes">{{ caps.count === 0 ? ' ' : caps.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>


