<div class="jumbotron" style="margin-top: -15px;">
    <div class="container">
        <h2>Capability List ... </h2>
        <div>
            Capabilities are the verbs of your project. They describe the abilities of a component required to satisfy an attribute of a system.
             In an example of a e-commerce website, which would have an attribute "Secure" and a component "Shopping Cart", might have a capability: <br> "Process monetary transactions using HTTPS".
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">...</div>
    </div>
</div>

