<div class="jumbotron" style="margin-top: -15px;">
    <div class="container">
        <h2>Component List ... </h2>
        <div>Components are the nouns that are parts of your project -- 
            the building blocks that constitute the system in question. 
            Examples could include "Firmware", "Shopping Cart" or "Database".
        </div>
    </div>
</div>
<div class="container">
    <div class="row" *ngIf="!dataReady">
        <div class="col-12">
            <div >Loading Components ...</div>
        </div>
    </div>
      <div *ngIf="components.length > 0" class="row">
        <table class="table table-hover table-bordered">
            <thead class="thead-inverse">
                <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let component of components">
                <tr>
                <th scope="row">{{component.id}}</th>
                <td>{{component.name}}</td>
                <td>{{component.description}}</td>
                <td><span><a style="cursor: pointer" (click)="editComponent(component)">Edit</a></span></td>
                </tr>
                <tr *ngIf="component.editEnabled">
                    <th></th>
                    <td colspan="2">
                    </td>
                    <td><button class="btn btn-primary btn-small">Close</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

