<div class="card-header">Capability Card <span class="badge badge-pill badge-danger">High Risk</span></div> 
<div class="card-block">
  <h4 class="card-title">{{capability.name}} </h4>
  <p class="card-text">{{ capability.description }}</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Inherent risk <span class="badge badge-pill badge-danger" style="margin-left:1rem;">High</span></li>
    <li class="list-group-item"><span class="badge badge-pill badge-danger">Low</span> Test coverage </li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning">13</span> Bugs </li>
    <li class="list-group-item"><span class="badge badge-pill badge-info">Low</span> Code Churn </li>
  </ul>
  <div class="card-block">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <p class="card-text"><small class="text-muted">Capability Id: {{capability.id}}</small></p>
</div>
