<div class="card mb-3">
  <div class="card-block">
      <a [routerLink]="['/capability', capability.id]" class="card-link"><h5 class="card-title">{{capability.name}}</h5></a>
      <p class="card-subtitle mb-2 text-muted">{{ capability.description }}</p>
      <hr>
      <div class="row">
          <div class="col">
            <div class="card border-0">
                <h5 class="card-title">Risk</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item justify-content-between">
                    Probability
                    <span>{{ capability.risk?.frequencyId | refDataPipe:frequency }}</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                    Impact
                    <span>{{ capability.risk?.impactId  | refDataPipe:impact}}</span>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col">
              <div class="card border-0">
                <h5 class="card-title">Test</h5>
                <small *ngIf="!capability.test" class="text-muted">Not mapped</small>
                <ul *ngIf="capability.test" class="list-group list-group-flush">
                  <li class="list-group-item justify-content-between">
                    <a href="#">Test Cases</a>
                    <span>{{ capability.test.cases }}</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                    Executed
                    <span>{{ capability.test.executed }}</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                    Failed
                    <span class="badge badge-danger">{{ capability.test.failed }}</span>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col">
            <div class="card border-0">
                <h5 class="card-title">Defects</h5>
                <small *ngIf="!capability.defects" class="text-muted">Not mapped</small>
                <ul *ngIf="capability.defects" class="list-group list-group-flush">
                  <li class="list-group-item justify-content-between">
                    Severity 1
                    <span>{{ capability?.defects.type1 }}</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                    Severity 2
                    <span class="badge badge-warning">{{ capability?.defects.type2 }}</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                    Severity 3
                    <span>{{ capability?.defects.type3 }}</span>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col">
              <div class="card border-0">
                <h5 class="card-title">Code</h5>
                <small *ngIf="!capability.code" class="text-muted">Not mapped</small>
                <ul *ngIf="capability.code" class="list-group list-group-flush">
                  <li class="list-group-item justify-content-between">
                    <a href="">Modules</a>
                    <span >{{ capability.code?.moduleCount ?  capability.code?.moduleCount : 'N/A' }}</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                    Churn
                    <span>{{ (capability.code?.churn / capability.code?.loc) * 100 }}%</span>
                  </li>
                 <li class="list-group-item justify-content-between">
                    Unit Test Coverage
                    <span class="badge badge-danger">{{capability.code?.coverage}}%</span>
                  </li>
                 <li class="list-group-item justify-content-between">
                    SQALE 
                    <span>{{ capability.code?.quality }}</span>
                  </li>
                </ul>
              </div>
          </div>
      </div>
      <p class="card-text"><small class="text-muted">Capability Id: {{capability.id}}</small></p>
  </div>
</div>